h2 Страница о проекте
p = BetterLorem.w rand 10..30
ul class="list-group"
- rand(3..7).times.each do |i|
  li class="list-group-item" = BetterLorem.w rand 5
br
- rand(1..3).times.each do |i|
  p = BetterLorem.w rand 10..30
