h2 Страница о проекте
p = Faker::Lorem.question
ul class="list-group"
- rand(3..7).times.each do |i|
  li class="list-group-item" = Faker::Lorem.sentence
br
- rand(1..3).times.each do |i|
  p = Faker::Lorem.sentence
